<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  href="testes\sytle.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <title>Home</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-light" style = "background-color: #6c5ce7">
                <a class="navbar-brand" href="{%url 'home'%}">Início</a>
                <a class="navbar-brand" href="#">Cursos</a>
                <a class="navbar-brand" href="{%url 'cadastro'%}">Login/Registrar</a>
            </nav>
        </header>
        <div class="container">
            <!--Coloca aqui a funcionalidade... ainda nn sei o q colocar-->
            <article class="feed">
                <h3 class="feed__tittle"></h3>
                <a href=""></a>
                <ul class="feed__list">
                    <li class="feed__list--post_one">
                        <img src="" alt="">
                        <h4 class="feed__sub-tittle"></h4>
                        <p></p>
                    </li>
                </ul>
            </article>
        </div>
        <footer>
        </footer> 
        
        <script type="text/javascript" src="script.js"></script>   
    
    </body>

</html>