* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    justify-content: top;
    min-width: 100vw;
}

body  {
    background: linear-gradient( 45deg, #310e7e, #330e83, #5419d4);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: aliceblue;
    min-height: 80%;
    min-width: 80%;
    align-items: center;
    justify-content: center;
}

.feed{
    background-color: white;
    min-width: 75%;
    min-height: 80%;
    align-self: center;
}
